<%= form_for(@community_partner) do |f| %>
  <div class="modal-body">
    <ul class="nav nav-tabs" id="myTab<%=trip_id%>">
    <li class="active"><a href="#existing" data-toggle="tab">Add Existing Community Partner</a></li>
    <li><a href="#new" data-toggle="tab">Add New Community Partner</a></li>
  </ul>
   
  <div class="tab-content">
    <div class="tab-pane active" id="existing">
      <%= f.label :partner_id, "Name" %>
      <%= f.collection_select :partner_id, Partner.order(:name), :name, :id, {} %>
      <%= f.hidden_field :trip_id, :value=>trip_id %>
    </div>
    <div class="tab-pane" id="new">
      Name: <%= f.text_field :name %> <br />
      Description: <%= f.text_area :description, rows: 6, :class=>"span12" %> <br />
      Website: <%= f.text_field :website %> <br />
      Upload Logo: <%= f.file_field :logo %> <br />
      <%= f.hidden_field :trip_id, :value=>trip_id %>
    </div>
  </div>
   
  <script>
    $(function () {
      $('#myTab<%=trip_id%> a:last').tab('show');
    })
  </script>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>