<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>

    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    <%= gmaps("map_options" => {
      :detect_location => true,
      :center_on_user => false,
      "zoom" => 6,
      :type => :TERRAIN
    },
    "markers" => {
      "data" => '[{"lat": 42, "lng": 42}]',
      "options" => {
        "draggable" => true
      }
    }) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
