#notice= notice

.cover-wrapper
  - if @trip.cover_photo
    .cover-photo{:style => "background-image: url(#{@trip.cover_photo.url(:large)})" }
  .title-container
    .title
      = @trip.name
    .subtitle
      = '...' + @trip.subtitle.downcase
    .location
      = @trip.location

.section
  .row-fluid.about
    .span12.description
      .heading.center ABOUT THIS TRIP
      .text
        = @trip.description
  - if not @trip.current_trip_instance.partners.all.empty?
    .row-fluid.partners
      .subheading.center Community Partners
      .logos
        - @trip.current_trip_instance.partners.each do |partner|
          .partner-logo
            - if partner.logo.exists?
              = link_to(image_tag(partner.logo.url(:medium)), partner.website)
            - else
              = link_to(image_tag("/assets/community.jpg"), partner.website)

.row-fluid.gray
  .section
    .heading.center MEET THE BREAK LEADERS
    - @trip.break_leaders.each do |leader|
      .leader
        .avatar
          - if leader.avatar.exists?
            = link_to(image_tag(leader.avatar.url(:medium)), user_path(leader.id))
          - else
            = link_to(image_tag("/assets/panda.png"), user_path(leader.id))
        .description
          .name
            = link_to(leader.name, user_path(leader.id))
          .bio
            = leader.about_me
.section
  .heading.center PAST TRIPS
  %ul.nav.nav-tabs#tripTabs.container
    %li.active
      %a{:href => "#photos", "data-toggle" => "tab"} Photos
    %li
      %a{:href => "#testimonies", "data-toggle" => "tab"} Testimonies
  .tab-content.past-trips
    .tab-pane.active#photos
      .tab-section
        = render :partial => 'photos'

    .tab-pane#testimonies
      .tab-section
        = render :partial => 'testimonies'
