#notice= notice

.cover-wrapper
  - if @trip.cover_photo
    .cover-photo{:style => "background-image: url(#{@trip.cover_photo.url(:large)})" }
  .title-container
    .title
      = @trip.name
    .subtitle
      = '...' + @trip.subtitle.downcase
    .location
      = @trip.location

.section
  .row-fluid.about
    .span12.description
      .heading.center ABOUT THIS TRIP
      .text
        = @trip.description
  - if not @trip.partners.all.empty?
    .row-fluid.partners
      .subheading.center Community Partners
      .logos
        - @trip.partners.each do |partner|
          .partner-logo
            - if partner.logo.exists?
              = link_to(image_tag(partner.logo.url(:medium)), "http://"+partner.website)
            - else
              = link_to(image_tag("/assets/community.jpg"), "http://"+partner.website)

.row-fluid.gray
  .section
    .heading.center MEET THE BREAK LEADERS
    - @trip.break_leaders.each do |leader|
      .leader
        .avatar
          - if leader.avatar.exists?
            = link_to(image_tag(leader.avatar.url(:medium)), user_path(leader.id))
          - else
            = link_to(image_tag("/assets/panda.png"), user_path(leader.id))
        .description
          .name
            = link_to(leader.name, user_path(leader.id))
          .bio
            = leader.about_me
.section
  .heading.center PAST TRIPS
  %ul.nav.nav-tabs#tripTabs.container
    %li.active
      %a{:href => "#photos", "data-toggle" => "tab"} Photos
    %li
      %a{:href => "#testimonies", "data-toggle" => "tab"} Testimonies
  .tab-content.past-trips
    .tab-pane.active#photos
      .tab-section
        .row-fluid
        #photos-carousel.carousel.slide
          .span9
            .carousel-inner
              - first = true
              - @photos.each_slice(18).first.each do |photo|
                .item.cphoto{:class => "#{'active' if first}"}
                  = image_tag photo.photo.url(:original), :class => "slide"
                  .carousel-caption
                    = photo.caption
                - first = false
            .controls
              %a.carousel-control.left{"data-slide" => "prev", :href => "#photos-carousel"} ‹
              %a.carousel-control.right{"data-slide" => "next", :href => "#photos-carousel"} ›
          .span3
            .carousel-thumbnails
              - count = 0
              - @photos.each_slice(3) do |slice|
                .row-fluid
                  - slice.each do |photo|
                    .span4
                      .carousel-thumbnail{"data-slide-to" => count, "data-target" => "#photos-carousel"}
                        = image_tag photo.photo.url(:thumb)
                      - count+=1
              = paginate @photos

    .tab-pane#testimonies
      .tab-section
        #testimonies-carousel.carousel.slide
          .carousel-inner
            - first = true
            - @testimonies.each do |testimony|
              .item{:class => "#{'active' if first}"}
                .well
                  .row-fluid
                    .span2
                      %a{:href => "#"}
                        /make this into a helper
                        - if testimony.user.avatar.exists?
                          .avatar= image_tag testimony.user.avatar.url(:original)
                        - else
                          %img.avatar{:alt => "", :src => "/assets/panda.jpg"}
                    .span10
                      .row-fluid
                        %strong Author:
                        = link_to(testimony.user.name, user_path(testimony.user.id))
                      .row-fluid
                        %br
                        = testimony.description
                - first = false
        #testimonies-controls-carousel.carousel.slide
          .carousel-inner
            - count = 0
            - first = true
            - @testimonies.each_slice(8) do |slice|
              .item{:class => "#{'active' if first}"}
                - slice.each do |testimony|
                  %a.testimony-avatar{"data-slide-to" => count, "data-target" => "#testimonies-carousel"}
                    - if testimony.user.avatar.exists?
                      = image_tag testimony.user.avatar.url(:original)
                    - else
                      %img{:alt => "", :src => "/assets/panda.jpg"}
                  - count += 1
              - first = false
          - if @testimonies.count > 8
            .controls
              %a.carousel-control.left{"data-slide" => "prev", :href => "#testimonies-controls-carousel"} ‹
              %a.carousel-control.right{"data-slide" => "next", :href => "#testimonies-controls-carousel"} ›
        / link_to 'See all', trip_testimonies_path(@trip.id)