<p id="notice"><%= notice %></p>

<h1><%= @trip.name %></h1>
<h4><%= @trip.subtitle %></h4>

<br>
<p>
  <b>Location:</b>
  <%= @trip.location %>
</p>

<p>
  <b>Description:</b>
  <%= @trip.description %>
</p>

<h3>Photos</h3>
<div>
<% if @testimonies %>
	<% @testimonies.each do |t| %>
		<% if t.photos %>
			<% t.photos.each do |p| %>
				<div><%= image_tag p.photo.url(:medium) %></div>
			<% end %>
		<% end %>
	<% end %>	
<% end %>
</div>
<%= link_to 'Edit', edit_trip_path(@trip) %>
