<p id="notice"><%= notice %></p>
<script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js"></script>

<div class="row-fluid">
	<div class="span8 offset1">
		<div class="row-fluid">
			<div class="span2">
				<div class="well">
					<h4>Break Leaders</h4>
					<% leaders = @trip.current_trip_instance.trip_permissions.where(:permission => 1).map {|permission| permission.user} %>
					<% leaders.each do |leader| %>
						<ul class="thumbnails">
							<li>
								<div class="row-fluid">
									<div class="span12">
										<a href="#" class="thumbnail">
											<!--
				      						<%= image_tag leader.avatar.url(:medium) %>
				      						TEMPORARY PICTURES BELOW
				      					-->
				      						<img src="/assets/panda.jpg" alt="">
				    					</a>
				    				</div>
				    			</div>
				    			<div class="row-fluid">
				    				<div class="span12">
				    					<%= link_to(leader.first_name+" "+leader.last_name, user_path(leader.id)) %>
			    					</div>
			    				</div>
							</li>
						</ul>
					<% end %>
				</div>
			</div>
			<div class="span10">
				<div class="row-fluid">
					<div class="banner">
						<img class="bphoto" src="/assets/IMG6.jpg" alt="">
						<!-- USE THIS <div><%= image_tag @trip.cover_photo.url(:large) %></div> -->
						<!--<div><%= image_tag @trip.cover_photo %></div>-->
					</div>
					<div class="well">
						<h1><%= @trip.name %></h1>
						<h4><%= @trip.subtitle %></h4>
						<p><%= @trip.location %></p>
					</div>
				</div>
			</div>

				<!--
				<div clas="row-fluid">
					<div class="span12">
						<p>
							<div class="well">
				  				<b>Location:</b>
				  				<%= @trip.location %>
				  			</div>
						</p>
					</div>
				</div>
			-->

				<div class="row-fluid">
					<div class="span12">
						<p>
							<div class="well">
				  				<b>Description:</b>
				  				<%= @trip.description %>
				  			</div>
						</p>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						<h3>Photos</h3>
						<div id="myCarousel" class="carousel slide">
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <!-- Carousel items -->
						  <!-- Images for testing, Should include the photos carousel should hold a rotating amount of 5 randomly selected-->
						  <div class="carousel-inner">
						    <div class="active item cphoto"><img class="slide" src="/assets/IMG1.jpg" alt=""></div>
						    <div class="item cphoto"><img class="slide" src="/assets/IMG4.jpg" alt=""></div>
						    <div class="item cphoto"><img class="slide" src="/assets/IMG5.jpg" alt=""></div>
						    <% if @photos != [] %>
						    <div class="item"><%= image_tag @photos.first.photo.url(:medium) %></div>
							<% end %>
						  </div>
						  <!-- Carousel nav -->
						  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
						</div>
						<!--
						<div>
							<% @photos.each do |p| %>
								<div><%= image_tag p.photo.url(:medium) %></div>
							<% end %>
						</div>
					-->
					</div>
				</div>

				<div class="row-fluid">
					<h3>Testimonies</h3>
					<div class="row-fluid">
						<table class="table table-hover table-bordered">
							<% if @testimonies %>
	  							<% @testimonies.each do |testimony| %>
	  								<tr>
	  									<div class="well">
	  										<ul class="thumbnails">
	  											<li>
	  												<div class="row-fluid">
	  													<div class="span2">
	  														<a href="#" class="thumbnail">
																<!--
									      						<%= image_tag testimony.user.avatar.url(:medium) %>
									      						TEMPORARY PICTURES BELOW
									      					-->
									      						<img src="/assets/panda.jpg" alt="">
									    					</a>
									    				</div>
									    				<div class="span10">
									    					<div class="row-fluid">
									    						<strong>Author: </strong><%= link_to(testimony.user.name, user_path(testimony.user.id)) %>
									    					</div>
									    					<div class="row-fluid">
									    						<br />
									    						<%= link_to(testimony.description, [@trip.current_trip_instance, testimony]) %>
									    					</div>
									    				</div>
									    			</div>
									    		</li>
									    	</ul>
									    </div>
									    <!--
	    								<%= link_to(testimony.description, [@trip.current_trip_instance, testimony]) %>
	    								by <%= testimony.user.name %>
	    							-->
		  							</tr>	
		  							<br>
	  							<% end %>
							<% end %>
						</table>
						<!-- NEED TO FIX THIS
						<%= link_to "See all", trip_testimonies_path(@trip.id)%>
					-->
					</div>
			 	</div>


			</div>
		</div>
	</div>
	<br><br>
	<!--<%= link_to 'Edit', edit_trip_path(@trip) %>-->
</div>
