<p id="notice"><%= notice %></p>


<div><%= image_tag @user.avatar.url(:medium) %></div>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Grad year:</b>
  <%= @user.grad_year %>
</p>

<p>
  <b>Major:</b>
  <%= @user.major %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
