<div class="row-fluid">
<div class="span11 offset1"><h1>Temporary Home Page</h1></div>
<div class="row-fluid">
<div class="span11 offset1">
<% if user_signed_in? %>
<h3>Welcome <%= current_user.name %>!</h3>
<% end %>
</div>
<div class="row-fluid">
<div class="span1 offset1"><%= link_to "Sign Up", new_user_registration_path, :class=>"btn" %></div>
<div class="span1"><%= link_to "Log In", new_user_session_path, :class=>"btn" %></div>
<div class="span9"><%= link_to "Log Out", destroy_user_session_path, :class=>"btn" , :method=>'delete'%></div>
</div>
<div class="row-fluid">
<div class="span1 offset1"><h4><%= link_to "Posts", posts_path%></h4></div>
</div>
