<table class="table table-hover table-bordered">
	<tr class = "response">
		<td>


			<div class="response-content">
				<div id = "wrapper">
					<div id="left"><a href="#" class="thumbnail"><img src="/assets/panda.jpg" alt=""></a></div>
					<div id="right">
						<span class="response-author">
							<b><%= response.user.name %></b> <i>submitted <%= time_ago_in_words(response.created_at) %> ago</i>
						</span>
						<%= response.content %>
					</div>
				</div>
			</div>

			<div id = "comment-wrapper">
				<span class="comment-delete">
					<% if !current_user.nil? && (current_user.id ==  response.user_id) %>
						<%= link_to 'Edit', edit_response_path(response) %>
						<%= link_to 'Delete', response, confirm: 'Are you sure?', :method => :delete %>
					<% end %>
				</span>
			</div>
		</td>
	</tr>
</table>