<table class="table table-hover table-bordered">
	<tr class = "response">
		<td>
			<span class="response-author">
				<b><%= User.find(response.user_id).name %></b> <i>submitted <%= time_ago_in_words(response.created_at) %> ago</i>
			</span>

			<div class="response-content">
				<%= response.content %>
			</div>

			<div id = "comment-wrapper">
				<span class="comment-delete">
					<% if !current_user.nil? && (current_user.id ==  response.user_id) %>
						<%= link_to 'Edit', edit_response_path(response) %>
						<%= link_to 'Delete', response, confirm: 'Are you sure?', :method => :delete %>
					<% end %>
				</span>
			</div>
		</td>
	</tr>
</table>