<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @response.user_id %>
</p>

<p>
  <b>Post:</b>
  <%= @response.post_id %>
</p>

<p>
  <b>Content:</b>
  <%= @response.content %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
