<div class="row-fluid">
	<p id="notice"><%= notice %></p>

	<h2><%= User.find(@testimony.user_id).name %></h2>

	<p><%= @testimony.context %></p>

	<div><%= image_tag @testimony.photo.url(:medium) %></div>

	<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
	<%= link_to 'Back', testimonies_path %>
</div>