<p id="notice"><%= notice %></p>

<p>
  <b>Trip instance:</b>
  <%= @testimony.trip_instance_id %>
</p>

<p>
  <b>User:</b>
  <%= @testimony.user_id %>
</p>

<p>
  <b>Context:</b>
  <%= @testimony.context %>
</p>


<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
