<!--Show Testimony-->

<div class="row-fluid">
	<p id="notice"><%= notice %></p>

	<h4>Created by <%= @testimony.user.name %></h4>
	<br><b>Trip: </b><%= @testimony.trip_instance.trip.name %> <%= @testimony.trip_instance.year %>
	<br><br>
	<p><b>Description: </b><%= @testimony.context %></p>

	<br>
	<% @photos = @testimony.photos %>
	<% @photos.each do |photo| %>
		<div><%= image_tag photo.photo.url(:medium) %></div>
	<% end %>

	<br>
	<%= link_to 'Edit', edit_testimony_path(@testimony, :trip_instance_id => @testimony.trip_instance_id) %> |
	<%= link_to 'Back', testimonies_path %>
</div>