.container
  .row-fluid
    .span8
      .row-fluid
        %h1
          - if @is_trip
            = @trip.name.to_s + " " + @instance.year.to_s
          - else
            = @page.name
      - if @is_page
        .row-fluid
          .well
            = @page.description

      %table.table.table-hover.table-bordered
        - if @posts
          = paginate @posts
          - @posts.each do |post|
            %tr
              %td
                %h4
                  - if @is_trip
                    = link_to post.title, trip_instance_post_path(:trip_instance_id => @instance.id, :id =>post.id)
                  - else
                    = link_to post.title, page_post_path(:page_id => @page.id, :id =>post.id)
                %br
                Created by: #{post.user.name}

    - if @is_trip
      = render :partial=>'/posts/internal_sidebar', :locals => {:instance_id => @instance_id}
    - else
      = render :partial=>'/posts/internal_sidebar', :locals => {:page_id => @page.id}