<% content_for :head do %>
  <%= javascript_include_tag 'chosen' %>
<% end %>

<div class="row-fluid">
  <div class="span8 offset1">
    <h2><%= @post.title %></h2>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">
      <p><i>submitted <%= time_ago_in_words(@post.created_at) %> ago by </i><%= @post.user.name %></p>
      <div class="row-fluid">
        <div class="well">
          <%= simple_format(@post.description) %>
          <% if @post.video_link != "" and @post.video_link != nil %>
            <br><div><b>Video Attachment</b><br><%= raw(youtube_embed(@post.video_link)) %></div>
          <% end %>
          <% if @post.pdf_file_name != nil %>
            <br><div><b>PDF Attachment</b><br><%= link_to @post.pdf_file_name, @post.pdf.url, :target => "_blank" %></div>
          <% end %>
        </div>

      </div>
      <h3>Responses</h3>
      <%= render 'responseform' %>
      <div id="comment-table">
        <%= render :partial => 'posts/response_table', :locals => {:post => @post} %>
      </div>
    </div>

		<% if @instance_id != nil %>
    	<%= render :partial=>'/trip_instances/internal_sidebar', :locals => {:instance_id => @instance_id} %>
		<% elsif @page_id != nil %>
			<%= render :partial=>'/pages/internal_sidebar', :locals => {:page_id => @page_id} %>
		<% end %>

  </div>
</div>
