<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js"></script>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-typeahead.js"></script>
  <%= javascript_include_tag 'chosen' %>
</head>
<body>

<div class="row-fluid">
  <div class="span8 offset1">
    <h2><%= @post.title %></h2>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">
      <p><i>submitted <%= time_ago_in_words(@post.created_at) %> ago by </i><%= @post.user.name %></p>
      <div class="row-fluid">
        <div class="well">
          <%= @post.description %>
        </div>
      </div>
      <h3>Responses</h3>
      <%= render 'responseform' %>
      <div id="comment-table">
        <%= render :partial => 'posts/response_table', :locals => {:post => @post} %>
      </div>
      <% if trip = @post.trip %>
        <%= link_to 'Back', internal_trip_path(trip) %>
      <% elsif trip_instance = @post.trip_instance %>
        <%= link_to 'Back', trip_instance_path(trip_instance) %>
      <% end %>
    </div>

    <%= render :partial=>'/trip_instances/internal_sidebar', :locals => {:instance_id => @instance_id} %>

  </div>
</div>
