<div class="row-fluid">
	
<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>

<p>
  <b>Posted by </b>
  <%= User.find(@post.user_id).name %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<!--
<p>
  <b>Video link:</b>
  <%= @post.video_link %>
</p>
-->

<br>
<h3>Responses</h3>

<%= render 'responseform' %>
<div id="comment-table"><%= render :partial => 'posts/response_table', :locals => {:post => @post} %></div>
<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_trip_instance_post_path(@instance.id, @post) %> |
<% end %>
<% if trip = @post.trip %>
	<%= link_to 'Back', internal_trip_path(trip) %>
<% elsif trip_instance = @post.trip_instance %>
	<%= link_to 'Back', trip_instance_path(trip_instance) %>
<% end %>

</div>
