<div class="popup partner">
	<div class="logo">
		<!-- it is important for the next part to be on one line because the images are inline-block -->
		<img src="<%= partner.logo %>">
	</div>
	<div class="title"><a href='<%= partner.website %>'><%= partner.name %></a></div>
	<div class="subtitle"><a href="<%= partner.website %>"><%= partner.website %></a></div>
	<div class="partner-disclaimer">Community Partner</div>
	<div class="description">
		<%= partner.description %>
	</div>

</div>