<%= link_to "Alternative Breaks", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="dropdown">
		<!--Internal NavBar-->
		<% if user_signed_in? %>
	    <a href="/posts" class="dropdown-toggle" data-toggle="dropdown">Trips <b class="caret"></b></a>
			<li><%= link_to('General', root_path) %></li>
	    <ul class="dropdown-menu">
	      <% Trip.all.each do |trip| %>
	        <li>
	          <%= link_to(trip[:name], internal_trip_path(trip[:id])) %> -->
	        </li>
	      <% end %>
	    </ul>		
		<!--External NavBar-->
		<% else %>
	    <a href="/posts" class="dropdown-toggle" data-toggle="dropdown">Trips <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      <% Trip.all.each do |trip| %>
	        <li>
	          <%= link_to(trip[:name], trip_path(trip[:id])) %>
	        </li>
	      <% end %>
	    </ul>
		<% end %>
  </li>
</ul>

<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>