<!DOCTYPE html>
<html>
<head>
  <title>Altbreaks</title>
		<!--load jquery first-->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <script>
    $(document).ready(function() {
      $('#carousel-title').carousel({interval: 8000});
      $('#photos-carousel').carousel({interval: 8000});
      $('#testimonies-carousel').carousel({pause: true, interval: false});
      $('#testimonies-controls-carousel').carousel({pause: true, interval: false});
    });
  </script>

  <%= javascript_include_tag :testimonies %>

  <%= yield(:head) %>

  <!-- for gmaps4rails -->
</head>
<body>
  <div class="navbar navbar-static-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render "layouts/navigation" %>
      </div>
    </nav>
  </div>
  <!-- <div class="container-fluid"> -->
  <%= yield %>
  <!-- </div> -->

  <div class="footer-wrapper">
    <%= render "layouts/footer" %>
  </div>
  <%= yield :scripts %>
  <!--<%= stylesheet_link_tag "gmaps4rails" %>-->


</body>
</html>
