<!DOCTYPE html>
<html>
<head>
  <title>Altbreaks</title>
		<!--load jquery first-->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag :testimonies %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>


  <%= yield(:head) %>

  <!-- for gmaps4rails -->
</head>
<body>
  <div class="navbar navbar-static-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render "layouts/navigation" %>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= yield :footer %>
  <%= yield :scripts %>
  <!--<%= stylesheet_link_tag "gmaps4rails" %>-->


</body>
</html>
