<!DOCTYPE html>
<html>
<head>
  <title>Altbreaks</title>
		<!--load jquery first-->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="https://raw.github.com/julesjanssen/chosen/master/Source/chosen.js"></script>
	<link rel = "stylesheet" type = "text/css" href="https://raw.github.com/julesjanssen/chosen/master/Source/chosen.css">
	 <%= javascript_include_tag :application %> <!--needs to be after you include chosen-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render "layouts/navigation" %>
        </div>
      </nav>
    </header>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <!-- for gmaps4rails -->
  <%= yield :scripts %>
	<script>
		jQuery(function($){
		    $('.chzn-select').chosen();
		});
	</script>
  <!-- i have no idea what the previous line does, its magic -->
</body>
</html>
