<!DOCTYPE html>
<html>
<head>
  <title>Altbreaks</title>
		<!--load jquery first-->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps" %>
  <script type="text/javascript" src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="https://raw.github.com/julesjanssen/chosen/master/Source/chosen.js"></script>
  <link rel = "stylesheet" type = "text/css" href="https://raw.github.com/julesjanssen/chosen/master/Source/chosen.css">
  <!-- for gmaps4rails -->
</head>
<body>
  <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render "layouts/navigation" %>
        </div>
      </nav>
    </header>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <script>
    jQuery(function($){
        $('.chzn-select').chosen();
    });
  </script>
  <!-- i have no idea what the previous line does, its magic -->
  <%= yield :scripts %>
  <%= stylesheet_link_tag "gmaps4rails" %>

</body>
</html>
